<Files ~ "^.*\.([Hh][Tt][Aa])">
    Order allow,deny
    Deny from all
    Satisfy all
</Files>

DirectoryIndex index.md
ErrorDocument 404 /cms404/error404.htm

RewriteEngine on

RewriteRule ^(.*)\.html?$ .engine/showpage.php [L,NC]
RewriteRule ^(.*)\.md$ .engine/showpage.php [L,NC]
